dialog,
form label,
form input,
form textarea,
form button {
    background: #111;
    color: #fff;
}

form label,
form input,
form textarea,
form button {
    display: block;
    font-family: inherit;
}

dialog[open] {
    border: #111;
    display: grid;
    place-items: center;
    width: 95%;
    max-width: 500px;
}

dialog input[type="button"] {
    color: #fff;
    font-size: 200%;
    padding: 0;
    margin: 0.25rem 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

form button {
    font-size: 125%;
}

form label {
    font-size: 90%;
    font-style: italic;
}

form input[type="datetime-local"],
form textarea {
    font-size: 16px;
}

form label,
form input,
form textarea,
form button {
    appearance: none;
    border-radius: 0;
    text-align: center;
    margin: 0;
}

form label,
form input,
form button {
    padding: 0.5rem;
}

form textarea {
    padding: 1rem;
}

form,
form label,
form input,
form textarea,
form button {
    border: none;
    outline: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}