dialog,
form label,
form input,
form textarea,
form button {
    background: #111;
    color: #fff;
}

form label,
form input,
form textarea,
form button {
    display: block;
    font-family: inherit;
}

form input[type="button"] {
    font-size: 150%;
    float: right;
}

form button {
    font-size: 125%;
}

form label {
    font-size: 90%;
    font-style: italic;
}

form textarea {
    font-size: 16px;
}

form label,
form input,
form textarea,
form button {
    appearance: none;
    border-radius: 0;
    text-align: center;
    margin: 0;
}

form label,
form input {
    padding: 0.5rem;
}

form textarea,
form button {
    padding: 1rem;
}

form {
    display: grid;
    place-items: center;
    width: 90%;
    max-width: 500px;
}

form label,
form input,
form textarea,
form button {
    border: none;
    outline: none;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}