#changeHidden,
main h1,
main h2 {
    mix-blend-mode: exclusion;
}

main h2 {
    color: #fff;
    padding: 0.25rem;
    margin: 0;
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: 5;
}

main h2 {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

main h1 small,
main h2 u {
    background: #fff;
    color: #111;
    text-decoration: none;
    padding: 0.25rem;
}

.thing.mapboxgl-marker {
    filter: invert(0.9);
}