html {
    font-size: 16px;
    height: -webkit-fill-available;
}

@media screen and (max-width: 550px) {
    html {
        font-size: 2.5vw;
    }
}

main {
    position: relative;
    width: 100%;
    height: calc(100vh - 3.21rem);
    max-height: 111vw;
}

h1 {
    color: #fff;
    padding: 0.5rem;
    margin: 0;
    position: absolute;
    pointer-events: none;
    user-select: none;
    z-index: 5;
}

h1 {
    transition: all 1s;
    font-size: 250%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enter h1 {
    font-style: italic;
    font-size: 200%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: calc(100% - 5rem);
}

h1 strong,
h2 {
    font-size: 100%;
}

h1 small {
    font-size: 55%;
}

h1,
h2,
main strong {
    font-weight: 500;
}

#map {
    width: 100%;
    height: 100%;
}