#www article {
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
    width: 100%;
}

#www article section {
    flex: 1 25rem;
}

#things .thing {
    background: #111;
    text-align: center;
    display: grid;
    padding: 1rem;
    place-content: end center;
    position: relative;
    height: 15rem;
}

#things {
    font-size: 0.75rem;
}

#www small {
    display: block;
    padding: 0.5rem;
}

@page {
    size: A4 landscape;
}

@media print {

    #www article {
        display: block;
    }

    main,
    #changeHidden,
    #things .thing input,
    #www summary,
    #www small,
    #www article#log {
        display: none;
    }

    #things {
        font-size: 0.75vw;
    }

    #things .thing {
        border: 0.1vw solid #fff;
        float: left;
        width: calc(100% / 3);
        height: calc(100vh / 4);
    }
}

@media screen and (max-width: 1200px) {
    #things {
        font-size: 1.23vw;
    }

    #things .thing {
        flex: 1 50%;
        height: 25vw;
    }
}

@media screen and (max-width: 950px) {
    #things {
        font-size: 2.22vw;
    }

    #things .thing {
        flex: 1 100%;
        height: 50vw;
    }
}

#www article,
#www small,
#things .thing input {
    color: #fff;
}

#log section,
#things section[data-ruby] {
    font-size: 125%;
}

#things .thing input {
    font-size: 200%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#things .thing h3 {
    font-family: 'Libre Baskerville', 'Zen Maru Gothic', serif;
    font-size: 150%;
    line-height: 150%;
    place-self: center;
    margin: 1rem 1rem 2.5rem;
}

#things .thing p {
    font-family: 'Zen Maru Gothic', serif;
    font-size: 100%;
    margin: 0.5rem;
    line-height: 200%;
}