.thing.mapboxgl-marker {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  width: 0.95rem;
  height: 0.95rem;
}

.mapboxgl-popup {
  font-size: 90%;
  filter: invert(90%);
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

.mapboxgl-popup-content {
  color: #000;
  text-align: center;
}

.mapboxgl-popup h3,
.mapboxgl-popup p {
  margin: 0;
}

.mapboxgl-popup h3 {
  font-family: 'Libre Baskerville', 'Zen Maru Gothic', serif;
  font-size: 150%;
  line-height: 150%;
  padding: 2rem 1rem 1.5rem;
}

.mapboxgl-popup p {
  font-family: 'Zen Maru Gothic', serif;
  font-size: 100%;
  line-height: 200%;
  padding: 0.5rem 1rem;
}

.mapboxgl-popup-close-button {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 0.25rem;
  margin: 0.25rem;
  font-size: 200%;
}

@media screen and (max-width: 550px) {
  .thing.mapboxgl-marker {
    width: 3.75vw;
    height: 3.75vw;
  }

  .mapboxgl-popup {
    font-size: 75%;
    width: 75%;
    min-width: 75%;
    max-width: 75%;
  }

  .mapboxgl-popup h3 {
    padding: 7.5vw 2.5vw 5.5vw;
  }

  .mapboxgl-popup p {
    padding: 1vw;
  }
}