dialog[open] {
    background: #CDCBCC;
    border: none;
    color: #fff;
    display: grid;
    place-items: center;
}

dialog a,
#readme u,
#www a,
details summary {
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

dialog a:hover,
#www a:hover,
#www u,
details summary:hover {
    background: #fff;
    color: #CDCBCC;
}

dialog input[type="button"] {
    font-size: 200%;
}

dialog h2,
details summary {
    font-size: 150%;
}

dialog p,
dialog a,
#www a {
    font-size: 111%;
    appearance: none;
}

details summary b small {
    font-size: 75%;
    font-weight: 500;;
}

[data-ruby]::before {
    font-size: 75%;
}

dialog p[data-ruby],
dialog aside {
    line-height: 200%;
}

dialog a {
    font-style: italic;
}

#readme u,
aside a {
    padding: 0.125rem 0.25rem;
}

#submit {
    border: solid 0.1rem #fff;
    border-radius: 50%;
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
}

dialog [data-ruby]::before {
    padding: 0.5rem 0;
}

#www [data-ruby]::before {
    padding: 0.25rem;
}

dialog input[type="button"],
summary {
    padding: 0.25rem 0.5rem;
}

#www section {
    display: block;
    padding: 0.5rem;
}

dialog input[type="button"] {
    margin: 0;
}

[data-ruby]::before {
    content: attr(data-ruby);
}

[data-ruby]::before {
    color: #000;
    display: block;
    text-align: left;
}

#readme u,
#www [data-ruby]::before {
    color: #fff;
    background: #000;
    display: inline-block;
}

[data-ruby] a::before {
    content: "";
    clear: both;
    display: block;
    width: 100%;
}

dialog input[type="button"] {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

hr {
    border: none;
    margin: 1.5rem;
}

#readme,
#player {
    margin: auto;
    width: 85vw;
    max-width: 750px;
}

#player {
    height: 47.5vw;
    max-height: 425px;
}

#readme img {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}