#things {
    font-size: 0.75vw;
}

#things .thing {
    color: #fff;
    display: grid;
    float: left;
    text-align: center;
    padding: 1rem;
    position: relative;
    place-content: center;
    width: calc(100% / 3);
    height: calc(100vh / 3);
}

@media screen and (max-width: 1200px) {
    #things {
        font-size: 1vw;
    }

    #things .thing {
        width: calc(100% / 2);
        height: calc(100vh / 3);
    }
}

@media screen and (max-width: 1000px) {
    #things {
        font-size: 2.25vw;
    }

    #things .thing {
        width: calc(100% / 1);
        height: calc(100vh / 3);
    }
}

#things .thing input {
    color: #fff;
    font-size: 150%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#things .thing h3 {
    font-family: 'Libre Baskerville', 'Zen Maru Gothic', serif;
    font-size: 150%;
    line-height: 150%;
    padding: 0;
    margin: 1rem 0;
}

#things .thing p {
    font-family: 'Zen Maru Gothic', serif;
    font-size: 100%;
    line-height: 200%;
    padding: 0;
    margin: 1rem 0;
}