#things {
    font-size: 0.75rem;
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
    width: 100%;
}

#things #readme {
    flex: 1 100%;
    padding: 0.5rem;
    font-size: 150%;
}

#things .thing {
    background: #111;
    display: grid;
    text-align: center;
    padding: 1rem;
    position: relative;
    place-content: center;
    flex: 1 20rem;
    height: 15rem;
}

@page {
    size: A4 landscape;
}

@media print {

    main,
    #changeHidden,
    #things #readme,
    #things .thing input {
        display: none;
    }

    #things {
        font-size: 0.75vw;
        display: block;
    }

    #things .thing {
        border: 0.1vw solid #fff;
        float: left;
        width: calc(100% / 3);
        height: calc(100vh / 3);
    }
}

@media screen and (max-width: 1200px) {
    #things {
        font-size: 1.23vw;
    }

    #things .thing {
        flex: 1 50%;
        height: 25vw;
    }
}

@media screen and (max-width: 950px) {
    #things {
        font-size: 2.22vw;
    }

    #things .thing {
        flex: 1 100%;
        height: 50vw;
    }
}

#things,
#things .thing input {
    color: #fff;
}

#things .thing input {
    font-size: 200%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#things .thing h3 {
    font-family: 'Libre Baskerville', 'Zen Maru Gothic', serif;
    font-size: 150%;
    line-height: 150%;
}

#things .thing p {
    font-family: 'Zen Maru Gothic', serif;
    font-size: 100%;
    line-height: 200%;
}