#readme {
  padding: 1rem;
}

#readme a,
#enter a {
  text-decoration: none;
  transition: 1s;
}

#enter {
  margin: 2rem 0;
  text-align: center;
  place-self: start center;
}

#enter::before {
  content: "あなたが聞いた言葉を投稿する";
  display: block;
  font-size: 75%;
  margin-bottom: 0.75rem;
}

#enter a {
  border: solid 0.1rem #fff;
  border-radius: 50%;
  padding: 0.25rem 1rem;
}

#readme [data-ruby]::before {
  content: attr(data-ruby);
  color: #000;
  display: block;
  text-align: left;
}

#readme h2,
#readme a {
  font-size: 125%;
}

#readme {
  font-size: 111%;
}

#readme [data-ruby]::before,
#readme h3 {
  font-size: 75%;
}

#readme h2 {
  font-weight: 500;
}

#readme a {
  font-style: italic;
}

#readme [data-ruby] {
  padding: 0.5rem 0;
  margin: 0;
}

#readme h3 {
  font-weight: 500;
  padding: 0;
  margin: 2rem 0;
  line-height: 200%;
}

@media screen and (max-width: 750px) {
  #readme {
    padding: 2.5vw;
  }

  #enter {
    margin: 2.5vw 0 5vw;
  }
}