#readme {
  padding: 1rem;
  overflow: auto;
}

#readme a {
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

#enter {
  text-align: center;
  margin-bottom: 2.5rem;
}

#enter::before {
  content: "あなたが聞いた言葉を投稿する";
  display: block;
  font-size: 75%;
  margin-bottom: 0.75rem;
}

#enter a {
  border: solid 0.1rem;
  border-radius: 50%;
  padding: 0.25rem 1rem;
}

#readme a:hover {
  background: #fff;
  color: #CDCBCC;
}

#readme [data-ruby]::before {
  content: attr(data-ruby);
  color: #000;
  display: block;
  text-align: left;
}

#readme h2,
#readme a {
  font-size: 125%;
}

#readme {
  font-size: 111%;
}

#readme [data-ruby]::before,
#readme h3,
#readme #copy {
  font-size: 75%;
}

#readme h2 {
  font-weight: 500;
}

#readme a {
  font-style: italic;
}

#readme [data-ruby] {
  padding: 0.5rem 0;
  margin: 0;
}

#readme h3 {
  font-weight: 500;
  padding: 0;
  margin: 2rem 0;
  line-height: 200%;
}

@media screen and (max-width: 750px) {
  #readme {
    font-size: 3vw;
  }
}
