html {
  font-size: 16px;
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #CDCBCC;
  color: #fff;
}

body {
  font-family: 'Libre Baskerville', 'Zen Maru Gothic', serif;
}

#changeHidden,
.mapboxgl-ctrl-attrib-inner {
  font-family: 'Zen Maru Gothic', serif;
}

button,
input[type="button"],
textarea,
summary {
  appearance: none;
  box-sizing: border-box;
  outline: none;
}

button,
input[type="button"] {
  background: transparent;
  border: none;
}

button:hover,
input[type="button"]:hover,
summary:hover {
  cursor: pointer;
}

body,
#title,
#map,
#changeHidden {
  padding: 0;
  margin: 0;
}

body,
#map {
  position: fixed;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
}

#changeHidden,
main {
  position: absolute;
}

main,
#changeHidden {
  display: grid;
  place-items: center;
}

main[hidden] {
  display: none;
}

body,
main,
#map {
  top: 0;
  left: 0;
  right: 0;
}

main {
  width: 100%;
  height: 100%;
}

main {
  z-index: 1;
}

main:not(#title) {
  background-position: center;
  background-size: contain;
}

#changeHidden {
  color: #fff;
  font-size: 200%;
  width: 3rem;
  height: 3rem;
  top: 0;
  right: 0;
  z-index: 10;
}
