.thing {
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  width: 0.75rem;
  height: 0.75rem;
}

.mapboxgl-popup {
  font-size: 0.9rem;
  width: 450px;
  min-width: 450px;
  max-width: 450px;
  filter: invert(90%);
}

.mapboxgl-popup-content {
  color: #000;
  text-align: center;
}

.mapboxgl-popup h3,
.mapboxgl-popup p {
  margin: 0;
}

.mapboxgl-popup h3 {
  font-family: 'Libre Baskerville', 'Zen Maru Gothic', serif;
  font-size: 150%;
  line-height: 150%;
  padding: 2rem 0.5rem 1.5rem;
}

.mapboxgl-popup p {
  font-family: 'Zen Maru Gothic', serif;
  font-size: 100%;
  line-height: 200%;
  padding: 0.5rem 1rem;
}

.mapboxgl-popup-close-button {
  appearance: none;
  background: transparent;
  border: none;
  font-size: 200%;
  outline: none;
}

@media screen and (max-width: 550px) {
  .thing {
    width: 1rem;
    height: 1rem;
  }

  .mapboxgl-popup {
    font-size: 3vw;
    width: 75%;
    min-width: 75%;
    max-width: 75%;
  }

  .mapboxgl-popup h3 {
    padding: 7.5vw 1vw 5.5vw;
  }

  .mapboxgl-popup p {
    padding: 1vw 2vw;
  }
}
